@import '/src/variables.scss';
nav{
    box-sizing: border-box;
    @include pagePadding;
    width: 100%;
    height: 100px;
    background-color: #595554;
    display: grid;
    align-content: center;
    grid-template-columns: 2fr 2fr 1fr;


}

.nav-center{
}
.nav-right{
        align-self: center;
        text-align: right;
}